<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingchuan.weather.Dao.LogMapper">
    
    <insert id="insert" parameterType="com.pingchuan.weather.Model.Log">
         INSERT INTO `logs` (
             `id`,
             `name`,
             `params`,
             `caller`,
             `is_success`,
             `error_message`,
             `start_time`,
             `end_time`,
             `reserved1`,
             `reserved2`,
             `reserved3`
         ) VALUES (
             #{id},
             #{name},
             #{params},
             #{caller},
             #{isSuccess},
             #{errorMessage},
             #{startTime},
             #{endTime},
             #{reserved1},
             #{reserved2},
             #{reserved3}
         )
    </insert>
    
    <delete id="delete" parameterType="com.pingchuan.weather.Model.Log">
        DELETE FROM `logs`
        <where> 
            <if test="id != null"> and `id` = #{id} </if>
            <if test="name != null"> and `name` = #{name} </if>
            <if test="params != null"> and `params` = #{params} </if>
            <if test="caller != null"> and `caller` = #{caller} </if>
            <if test="isSuccess != null"> and `is_success` = #{isSuccess} </if>
            <if test="errorMessage != null"> and `error_message` = #{errorMessage} </if>
            <if test="startTime != null"> and `start_time` = #{startTime} </if>
            <if test="endTime != null"> and `end_time` = #{endTime} </if>
            <if test="reserved1 != null"> and `reserved1` = #{reserved1} </if>
            <if test="reserved2 != null"> and `reserved2` = #{reserved2} </if>
            <if test="reserved3 != null"> and `reserved3` = #{reserved3} </if>
        </where>
    </delete>
    
    <update id="updateById" parameterType="com.pingchuan.weather.Model.Log">
        UPDATE `logs`
        <set>
            <if test="id != null"> `id` = #{id}, </if>
            <if test="name != null"> `name` = #{name}, </if>
            <if test="params != null"> `params` = #{params}, </if>
            <if test="caller != null"> `caller` = #{caller}, </if>
            <if test="isSuccess != null"> `is_success` = #{isSuccess}, </if>
            <if test="errorMessage != null"> `error_message` = #{errorMessage}, </if>
            <if test="startTime != null"> `start_time` = #{startTime}, </if>
            <if test="endTime != null"> `end_time` = #{endTime}, </if>
            <if test="reserved1 != null"> `reserved1` = #{reserved1}, </if>
            <if test="reserved2 != null"> `reserved2` = #{reserved2}, </if>
            <if test="reserved3 != null"> `reserved3` = #{reserved3}, </if>
        </set>
        where `id` = #{id}
        
    </update>
    
    <select id="findAll" resultType="com.pingchuan.weather.Model.Log">
        SELECT  
             `id` `id`,
             `name` `name`,
             `params` `params`,
             `caller` `caller`,
             `is_success` `isSuccess`,
             `error_message` `errorMessage`,
             `start_time` `startTime`,
             `end_time` `endTime`,
             `reserved1` `reserved1`,
             `reserved2` `reserved2`,
             `reserved3` `reserved3`
        FROM
            `logs`
        <if test="total != 0">
            limit #{startIndex},#{total}
        </if>
    </select>

    <select id="findAllLogName" resultType="com.pingchuan.weather.Model.Log">
        SELECT
              `id` `id`,
             `name` `name`,
             `params` `params`,
             `caller` `caller`,
             `is_success` `isSuccess`,
             `error_message` `errorMessage`,
             `start_time` `startTime`,
             `end_time` `endTime`,
             `reserved1` `reserved1`,
             `reserved2` `reserved2`,
             `reserved3` `reserved3`
        FROM
              `logs`
        WHERE
              start_time between #{startTime} and #{endTime}
        GROUP BY
              `name`

        <if test="total != 0">
            limit #{startIndex},#{total}
        </if>
    </select>

    <select id="findAllLogNames" resultType="com.pingchuan.weather.Model.Log">
        SELECT
              `id` `id`,
             `name` `name`,
             `params` `params`,
             `caller` `caller`,
             `is_success` `isSuccess`,
             `error_message` `errorMessage`,
             `start_time` `startTime`,
             `end_time` `endTime`,
             `reserved1` `reserved1`,
             `reserved2` `reserved2`,
             `reserved3` `reserved3`
        FROM
              `logs`
        GROUP BY
              `name`
    </select>

    <select id="getInfoOfWeekByInterface" resultType="com.pingchuan.weather.Model.Log">
        SELECT
              `id` `id`,
             `name` `name`,
             `params` `params`,
             `caller` `caller`,
             `is_success` `isSuccess`,
             `error_message` `errorMessage`,
             `start_time` `startTime`,
             `end_time` `endTime`,
             `reserved1` `reserved1`,
             `reserved2` `reserved2`,
             `reserved3` `reserved3`
        FROM
              `logs`
        WHERE
              `name` = #{name} and start_time between #{startTime} and #{endTime}
    </select>

    <select id="findOneByToday" resultType="int">
        SELECT
              count(*)
        FROM
              `logs`
        WHERE
              `name` = #{name} and start_time between #{startTime} and #{endTime}
    </select>

    <select id="findOneByCount" resultType="com.pingchuan.weather.Model.Log">
        SELECT
              `id` `id`,
             `name` `name`,
             `params` `params`,
             `caller` `caller`,
             `is_success` `isSuccess`,
             `error_message` `errorMessage`,
             `start_time` `startTime`,
             `end_time` `endTime`,
             `reserved1` `reserved1`,
             `reserved2` `reserved2`,
             `reserved3` `reserved3`
        FROM
              `logs`
        WHERE
              `name` = #{name} order by startTime desc limit 0,#{count}
    </select>

    <select id="findAllByCallerAndNameAndStateAndTime" resultType="com.pingchuan.weather.Model.Log">
        SELECT
              `id` `id`,
             `name` `name`,
             `params` `params`,
             `caller` `caller`,
             `is_success` `isSuccess`,
             `error_message` `errorMessage`,
             `start_time` `startTime`,
             `end_time` `endTime`,
             `reserved1` `reserved1`,
             `reserved2` `reserved2`,
             `reserved3` `reserved3`
        FROM
              `logs`
        WHERE
              start_time <![CDATA[ >= ]]> #{startTime} and start_time <![CDATA[ <= ]]> #{endTime}
              <if test="name != '全部'">
                  and `name` = #{name}
              </if>
              <if test="callerCode != '-1'">
                  and caller = #{callerCode}
              </if>
              <if test="state != -1">
                  and is_success = #{state}
              </if>
              order by startTime desc
    </select>

    <select id="findAllLogNameByCount" resultType="com.pingchuan.weather.Model.Log">
        SELECT
             `id` `id`,
             `name` `name`,
             `params` `params`,
             `caller` `caller`,
             `is_success` `isSuccess`,
             `error_message` `errorMessage`,
             `start_time` `startTime`,
             `end_time` `endTime`,
             `reserved1` `reserved1`,
             `reserved2` `reserved2`,
             `reserved3` `reserved3`
        FROM
              `logs`
        WHERE
              start_time <![CDATA[ >= ]]> #{startTime} and start_time <![CDATA[ <= ]]> #{endTime}
        GROUP BY
              `name`
    </select>


    
</mapper>

